html, body {
    margin: 0;
    padding: 0;
}


.wrap {
    position: relative;
    width: 1440px;
    height: 4046px;
    background: #F7F5FA;
    margin: auto;
}

header {
    height: 480px;
    /* border: 1px solid green; */
    margin: auto;
    background: #FFFFFF;
}

.header_inside {
    position: absolute;
    width: 760px;
    height: 189px;
    left: 340px;
    top: 165px;
    /* border: 1px solid red; */
}

.header_big {
    position: absolute;
    width: 692px;
    height: 54px;
    margin: 0 34px 135px 34px;
    font-family: DIN Pro;
    font-size: 48px;
    line-height: 54px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    color: #222222;
}

.header_text {
    position: absolute;
    width: 760px;
    height: 27px;
    top: 78px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;/* identical to box height */
    text-align: center;
    color: #4A4556;
}

.orange {
    color: #F47821;
}

.btn_bord {
    position: absolute;
    width: 236px;
    height: 54px;
    left: 280px;
    right: 426px;
    top: 135px;
    bottom: 0;
    background: #878787;
    opacity: 0;
    border-radius: 111px;
}

.btn_bord:hover {
    opacity: 0.05;
}

.btn_pl {
    width: 54px;
    height: 54px;
    position: absolute;
    left: 280px;
    right: 426px;
    top: 135px;
    bottom: 0;
    background: #878787;
    opacity: 0.05;
    border-radius: 111px;
}

.plus_sign {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 155px;
    bottom: 20px;
    left: 300px;
    right: 446px;
    margin: 0;
    background-image: url(../img/plus.png);
}

.btn_press {
    position: absolute;
    left: 326px;
    right: 274px;
    top: 153px;
    bottom: 0;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 20px;/* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222222;
}

.btn_press:hover {
    font-weight: bold;
}

/* main */
.main_inside {
    width: 1440px;
    height: 2435px;
    /* border: 1px dashed darkorange; */
}

.image {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 480px;
    background: url(../img/image.png);
    opacity: 0.3;
    /* border: 1px dashed blue; */
}

.image:hover {
    opacity: 1;
}

.motivation {
    position: absolute; /*group 7*/
    width: 972px;
    height: 464px;
    left: 234px;
    top: 981px;
    /* border: 1px dashed yellow; */
}

.box {
    position: absolute;
    width: 486px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    /* border: 1px solid blue; */
}

.box:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 100;
}

.box1 {
    left: 0;
    top: 0;
}

.box2 {
    left: 486px;
    top: 0;
}

.box3 {
    top: 232px;
    left: 0;
}

.box4 {
    left: 486px;
    top: 232px;
}

.box_inside {
    position: absolute;
    width: 337px;
    height: 121px;
    left: 60px;
    top: 81px;
    /* border: 1px solid black; */
    font-family: DIN Pro;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #222222;
}

.box_head {
    font-family: DIN Pro;
    font-size: 12px;
    line-height: 19px;/* identical to box height */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    left: 60px;
    top: 50px;
    position: absolute;
}

.different {
    position: absolute;
    width: 1440px;
    height: 737px;
    left: 0px;
    top: 1525px;
    background: #FFFFFF;
    /* border: 1px solid violet; */
}

.different_inside {
    position: absolute;
    width: 773px;
    height: 473px;
    left: 334px;
    top: 164px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53;
}

.different_head {
    position: absolute;
    width: 251px;
    height: 60px;
    left: 334px;
    top: 80px;
    font-family: DIN Pro;
    font-size: 48px;
    line-height: 60px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    color: #222222;
    margin: 0;
}

.pluses {
    position: absolute; /*group 22*/
    width: 1440px;
    height: 737px;
    left: 0px;
    top: 2263px;
    /* border: 1px solid gray; */
}

.pluses_inside {
    position: absolute; /*group 17.1*/
    width: 1139px;
    height: 374px;
    left: 135px;
    top: 120px;
    /* border: 1px solid red; */
}

.pluses_head {
    position: absolute;
    width: 524px;
    height: 50px;
    left: 323px;
    top: 0px;
    font-family: DIN Pro;
    font-size: 40px;
    line-height: 50px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.one {
    position: absolute;
    width: 51.96px;
    height: 52px;
    border-bottom: 2px solid #F47821;
    border-radius: 8px;
    background-image: url(../img/one.png);
    top: 110px;
}

.left {
    left: 0;
}

.center {
    left: 397px;
}

.right {
    left: 794px;
}

.pluses_main {
    position: absolute;
    width: 262px;
    height: 26px;
    font-family: DIN Pro;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    top: 192px;
    margin: 0;
}

.line {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 240px;
    background-image: url(../img/line.png);
}

.pluses_text {
    position: absolute;
    width: 326px;
    height: 105px;
    top: 269px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53;
    margin: 0;
}

/* footer */
footer {
    position: absolute;
    width: 1440px;
    height: 1130px;
    left: 0px;
    top: 2916px;
    background: #161616;
}

.footer_inside {
    left: 341px;
    right: 432px;
    /* border: 1px solid white; */
}

.footer_head {
    position: absolute;
    width: 453px;
    height: 52px;
    left: 494px;
    top: 100px;
    font-family: DIN Pro;
    font-size: 40px;
    line-height: 52px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.number {
    position: absolute;
    width: 64px;
    height: 64px;
    opacity: 0.23;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    margin: 0;
}

.num {
    position: absolute;
    width: 12px;
    height: 24px;
    left: 26px;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;/* identical to box height */
    text-align: center;
    color: #F47821;
    margin: 0;
}

.position1 {
    position: absolute;
    left: 341px;
    top: 212px;
    width: 667px;
    height: 120px; 
}

.position2 {
    position: absolute;
    left: 341px;
    top: 380px;
    width: 667px;
    height: 120px;
}

.position3 {
    position: absolute;
    left: 341px;
    top: 548px;
    width: 667px;
    height: 120px;
}

.position4 {
    position: absolute;
    left: 341px;
    top: 716px;
    width: 667px;
    height: 120px;
}

label {
    position: absolute;
    left: 92px;
    top: 22px;
    font-family: DIN Pro;
    font-size: 16px;
    line-height: 25px;/* identical to box height */
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.name {
    width: 117px;
    height: 25px;
}

.email {
    width: 140px;
    height: 25px;
}

.phone {
    width: 63px;
    height: 25px;
}

.textarea {
    width: 575px;
    height: 50px;
}

input[type='text'] {
    position: absolute;
    width: 224px;
    height: 35px;
    left: 92px;
    top: 71px;
    background: #161616;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;/* identical to box height */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border: none;
}

input[type='email'] {
    position: absolute;
    width: 202px;
    height: 35px;
    left: 92px;
    top: 71px;
    background: #161616;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;/* identical to box height */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border: none;
}

textarea {
    position: absolute;
    width: 575px;
    height: 70px;
    left: 92px;
    top: 71px;
    background: #161616;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;/* identical to box height */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border: none;
}

.line_form {
    background-image: url(../img/line_form.png);
    position: absolute;
    width: 575px;
    height: 2px;
    left: 92px;
    top: 118px;
    background: #F7F8FA;
    opacity: 0.1;
}

.after {
    top: 153px;
}

input[type='submit'] {
    position: absolute;
    width: 574px;
    height: 54px;
    left: 433px;
    top: 956px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 111px;

    font-family: Gilroy;
    font-size: 14px;
    line-height: 17px;/* identical to box height */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F47821;
}

input[type='submit']:hover {
    color: #FFFFFF;
    background: #F47821;
}

.error {
    top: 67px;
    position: absolute;
    left: 370px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .wrap, header, main, footer, .image, .different, .pluses, .pluses_inside {
        width: 900px;
    }
    .header_inside {
        left: 10%;
    }
    .image {
        background-position: center;
    }
    .motivation {
        width: 500px;
        left: 25%;
        height: 300px;
    }
    .box {
        width: 250px;
        height: 150px;
    }
    .box_head {
        left: 5%;
        top: 5%;
    }
    .box_inside {
        font-size: 17px;
        left: 5%;
        top: 24%;
        width: 225px;
    }
    .box2 {
        left: 250px;
    }
    .box3 {
        top: 150px;
    }
    .box4 {
        top: 150px;
        left: 250px;
    }
    .different_head {
        left: 35%;
    }
    .different_inside {
        left: 10%;
    }
    .pluses_head {
        left: 15%;
        top: -5%;
    }
    .pluses_inside {
        left: 0;
        top: 20px;
    }
    .pluses_main {
        font-size: 15px;
    }
    .pluses_text {
        font-size: 13px;
        width: 270px;
    }
    .left {
        left: 25px;
    }
    .center {
        left: 320px;
    }
    .right {
        left: 615px;
    }
    .footer_inside {
        left: 0;
    }
    .footer_head {
        left: 24%;
        top: 4%;
    }
    .position1, .position2, .position3, .position4 {
        left: 15%;
    }
    .position1 {
        top: 10%;
    }
    .position2{
        top: 25%;
    }
    .position3 {
        top: 40%;
    }
    .position4 {
        top: 55%;
    }
    #button {
        width: 300px;
        left: 35%;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .wrap, header, main, .main_inside, footer, .image, .different, .pluses, .pluses_inside {
        width: 600px;
    }
    .wrap {
        height: 2725px;
    }
    header {
        height: 300px;
    }
    .header_inside {
        left: 4%;
        top: 5%;
        width: 600px;
        height: 280px;
        position: relative;
    }
    .header_big {
        font-size: 25px;
        left: -15%;
    }
    .header_text {
        width: 550px;
    }
    .btn_pl {
        left: 35%;
        top: 60%;
    }
    .plus_sign {
        left: 38%;
        top: 67%;
    }
    .btn_press {
        left: 50%;
        font-size: 13px;
        width: 135px;
        height: 50px;
        top: 65%;
    }
    .main_inside {
        height: 1722px;
    }
    .image {
        background-position: center;
        top: 300px;
        background-size: contain;
        height: 200px;
    }
    .motivation {
        width: 460px;
        left: 14%;
        height: 280px;
        top: 16%;
    }
    .box {
        width: 230px;
        height: 140px;
    }
    .box_head {
        left: 5%;
        top: 5%;
    }
    .box_inside {
        font-size: 17px;
        left: 5%;
        top: 24%;
        width: 225px;
    }
    .box2 {
        left: 230px;
    }
    .box3 {
        top: 140px;
    }
    .box4 {
        top: 140px;
        left: 230px;
    }
    .different {
        top: 30%;
        height: 710px;
    }
    .different_head {
        left: 32%;
        top: 5%;
    }
    .different_inside {
        left: 1%;
        width: 590px;
        top: 15%;
    }
    .pluses {
        top: 56%;
        height: 500px;
    }
    .pluses_head {
        left: 8%;
        top: -5%;
        font-size: 23px;
    }
    .pluses_inside {
        left: 0;
        top: 20px;
    }
    .pluses_main {
        font-size: 14px;
    }
    .pluses_text {
        font-size: 11px;
        width: 200px;
    }
    .left {
        left: 0;
    }
    .center {
        left: 200px;
    }
    .right {
        left: 400px;
    }
    footer {
        top: 75%;
        height: 700px;
    }
    .footer_inside {
        left: 0;
    }
    .footer_head {
        left: 16%;
        top: 2%;
        font-size: 20px;
    }
    .position1, .position2, .position3, .position4 {
        left: 10%;
    }
    .number {
        width: 32px;
        height: 32px;
    }
    .num {
        top: 6%;
        left: 2%;
        font-size: 18px;
    }
    label {
        top: 0px;
    }
    .line_form {
        display: none;
    }
    input[type='text'], input[type='email'], #textarea {
        top: 30%;
        border-bottom: 1px solid gray;
        width: 345px;
        font-size: 15px;
    }
    #textarea {
        top: 63%;
    }
    .textarea {
        width: 345px;
    }
    .position1 {
        top: 10%;
    }
    .position2{
        top: 25%;
    }
    .position3 {
        top: 40%;
    }
    .position4 {
        top: 55%;
    }
    #button {
        width: 300px;
        left: 26%;
        top: 80%;
    }
    .btn_bord {
        top: 59%;
        left: 36%;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    .pluses {
        left: 15px;
    }
    .motivation {
        left: 228px;
    }
}
